.wp-block-atlb-timeline-block {
    position: relative;
    width: 100%;
    margin: 0 auto;
    .timeline-after {
        content: '';
        position: absolute;
        width: 6px;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }

    // both sides style
    &.both_sides {
        .wp-block-atlb-single-timeline-item {
            &:nth-child(odd) {
                left: 0;
                // content after 
                .container-after {
                    right: -8px;
                    &.icon-marker {
                        right: -15px;
                    }
                }
                .container-before {
                    right: -8px;
                }
                .oppsite-content {
                    left: 100%;
                }
            }
            &:nth-child(even) {
                left: 50%;
                // content after 
                .container-after {
                    left: -8px;
                    &.icon-marker {
                        left: -15px;
                    }
                }
                .container-before {
                    left: -8px;
                }
                .oppsite-content {
                    right: 100%;
                }
            }
        }
    }

    // left side only
    &.left_side {
        .wp-block-atlb-single-timeline-item {
            &:nth-child(odd) {
                left: 0;
                // content after 
                .container-after {
                    right: -8px;
                    &.icon-marker {
                        right: -15px;
                    }
                }
                .container-before {
                    right: -8px;
                }
                .oppsite-content {
                    left: 100%;
                }
            }
            &:nth-child(even) {
                left: 0;
                // content after 
                .container-after {
                    right: -8px;
                    &.icon-marker {
                        right: -15px;
                    }
                }
                .container-before {
                    right: -8px;
                }
                .oppsite-content {
                    left: 100%;
                }
            }
        }
    }

    // right side only
    &.right_side {
        .wp-block-atlb-single-timeline-item {
            &:nth-child(odd) {
                left: 50%;
                // content after 
                .container-after {
                    left: -8px;
                    &.icon-marker {
                        left: -15px;
                    }
                }
                .container-before {
                    left: -8px;
                }
                .oppsite-content {
                    right: 100%;
                }
            }
            &:nth-child(even) {
                left: 50%;
                // content after 
                .container-after {
                    left: -8px;
                    &.icon-marker {
                        left: -15px;
                    }
                }
                .container-before {
                    left: -8px;
                }
                .oppsite-content {
                    right: 100%;
                }
            }
        }
    }

    // single timeline 
    .wp-block-atlb-single-timeline-item {
        position: relative;
        width: 50%;
        padding: 30px;
        display: flex;
        align-items: center;
        .atlb-timeline-content {
            padding: 10px 15px;
            position: relative;
        }
        // content after 
        .container-after {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            top: calc(50% - 8px);
            border-width: 2px;
            border-style: solid;
            border-radius: 50%;
            z-index: 1;
            &.icon-marker {
                width: 30px;
                height: 30px;
                top: calc(50% - 15px);
                i {
                    display: block;
                    text-align: center;
                    line-height: 28px;
                }
            }
        }

        // content before
        .container-before {
            content: '';
            position: absolute;
            width: 50px;
            height: 2px;
            top: calc(50% - 1px);
            z-index: 0;
        }

        // opposite content 
        .oppsite-content {
            position: absolute;
            display: block;
            z-index: 1;
            width: fit-content;
            padding: 5px 10px;
            margin: 30px;
        }

    }
}

// Responsive View
@media (max-width: 600px) {
    .wp-block-atlb-timeline-block {
        &.right_side {
            .wp-block-atlb-single-timeline-item:nth-child(odd) {
                left: 0 !important;
            }
        }
        .wp-block-atlb-single-timeline-item {
            width: 100% !important;
            padding: 20px 0 !important;
            display: block !important;
            &:nth-child(even) {
                left: 0 !important;
            }
            .atlb-timeline-content {
                margin: 20px 0 !important;
            }
            .container-before {
                display: none !important;
            }
            .container-after {
                top: 0 !important;
                left: 50% !important;
                right: auto !important;
                &.icon-marker {
                    margin-left: -15px !important;
                }
                margin-left: -8px !important;
            }
            .oppsite-content {
                left: 0 !important;
                right: 0 !important;
                margin: 30px auto !important;
                position: relative;
            }
        }
    }
}