.marker-icon {
    position: relative;
    .rfipdropdown {
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        margin-top: 100px;
    }
}
.rfipbtn {
    min-height: 45px !important;
    width: 230px !important;
}

.wp-block-atlb-single-timeline-item {
    i.fas {
        font-style: normal !important;
    }
}