.atlb-timeline-content {
    &.bxs_one {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    &.bxs_two {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    &.bxs_three {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    &.bxs_four {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    &.bxs_five {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    position: relative;
    z-index: 1;
}